<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>testSet</servlet-name>
  	<servlet-class>weka.test</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>testSet</servlet-name>
  	<url-pattern>/testSet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Forward</servlet-name>
  	<servlet-class>gameOfLife.Forward</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Forward</servlet-name>
  	<url-pattern>/next</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>buildCSV</servlet-name>
  	<servlet-class>gameOfLife.buildCSV</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>buildCSV</servlet-name>
  	<url-pattern>/build</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>back</servlet-name>
  	<servlet-class>gameOfLife.Backward</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>back</servlet-name>
  	<url-pattern>/back</url-pattern>
  </servlet-mapping>
</web-app>